<div class="container">

  <h1>{{ title }}</h1>

  <ul class="heroes">

    <li *ngFor="#hero of heroes"
      [class.selected]="isSelected( hero )"
      (click)="onSelect( hero )">

      <span class="badge">
        {{ hero.id }}
      </span>
      {{ hero.name }}

    </li>

  </ul>

  <!--
    NOTE: Since the selectedHero is undefined until a hero is selected, accessing
    its properties will cause an exception. To avoid this problem, we can
    keep the hero detail section out of the DOM until there is a selected hero.
   -->

  <div *ngIf="selectedHero">

    <h2>
      {{ selectedHero.name }} details
    </h2>

    <div>
      <label>id:</label>
      {{ selectedHero.id }}
    </div>

    <div>
      <label>name:</label>
      {{ selectedHero.name }}
    </div>

    <div>
      <label>
        One-way data binding:
        <input type="text"
          value="{{ selectedHero.name }}"
          placeholder="name">
      </label>

      <br>

      <label>
        Two-way data binding:
        <input type="text"
          [(ngModel)]="selectedHero.name"
          placeholder="name">
      </label>
    </div>

  </div>

</div><!-- /.container -->
