<div class="container">

  <h1>{{ title }}</h1>

  <ul class="heroes">

    <li *ngFor="#hero of heroes"
      [class.selected]="isSelected( hero )"
      (click)="onSelect( hero )">

      <span class="badge">
        {{ hero.id }}
      </span>
      {{ hero.name }}

    </li>

  </ul>

  <!--
    NOTE: Since the selectedHero is undefined until a hero is selected, accessing
    its properties will cause an exception. To avoid this problem, we can
    keep the hero detail section out of the DOM until there is a selected hero.
   -->

  <div *ngIf="selectedHero">

    <hero-detail [hero]="selectedHero"></hero-detail>

  </div>

</div><!-- /.container -->
